*.class
*.jar
*.exe
*.out

api_key.txt
testcases*.txt
testcases*.md

__pycache__/
.vscode/
.VSCodeCounter
build/
venv/

software-under-test/Lucene/*/index

software-under-test/grep/src/*
!software-under-test/grep/src/build.sh